
*{
	margin: 0;
	padding:0;
	font-family: arial;	
}

a{
	font-size: 14px;
	text-decoration: none;
	color: #5F6368;
}
/*! TOP NAVIGATION */
nav{
	display: flex;
}
.left-col{
	background-color: #e65bc7;
	width:50%;
	padding-left: 3rem;
}
li{
	list-style-type: none;
	display: inline-block;
	padding: 1em;
}
/*.left-col li{
	list-style-type: none;
	display: inline-block;
	padding: 1em;
}*/

.right-col{
	background-color: #828ef5;
	width: 50%;
	text-align: right;
	padding-right: 3rem;
}

/*.right-col li{
	list-style-type: none;
	display: inline-block;
	padding: 1em;
}*/
/*! CENTER GOOGLE LOGO */
.logo{
	padding-top: 8em;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	width: 20%;
	background-color: #82f59f;

}

/*! INPUT & BUTTONS */
.form-container{
	background-color: #eb892d;
}


.button{
	font-size: 14px;
	text-decoration: none;
	color: #ff0000;
	padding: 10px 20px;
	background-color:#f2f2f2;
	border-radius: 5px;
	margin-right: 10px;
	display:inline-block;

}
/*! FOOTER */
footer{
	background-color: aqua;
}
